.gradle/
app/build/
build/
local.properties
*.iml
.idea/
app/release/
app/src/main/assets/public/
app/src/main/assets/capacitor.config.json
app/src/main/assets/capacitor.plugins.json
app/src/main/assets/native-bridge.js
